.App {
  font-family: "Josefin Slab";
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.9em;
  margin:10px;
}

.link {
  color: grey;
}

button {
  position: relative;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
  padding: 8px;
  margin: 8px;
}

button[type="submit"] {
  border: 1px solid green;
  color: green;
}

button[type="cancel"] {
  border: 1px solid red;
  color: red;
}

button[type="back"] {
  position:absolute;
  left:0px;
  top: 100px;
  margin-left: 20px;
}

button:hover {
  background-color: black;
  color: white;
}

button[type="submit"]:hover {
  background-color: green;
  color:white;
}

button[type="cancel"]:hover {
  background-color: red;
  color: white;
}

button[type="increment"] {
  line-height:20px;
  width: 20px;
  padding:0px;
}

.Form div[type="dropdown"] {
  padding: 12px;
}

.Form select {
  padding: 8px;
  margin-left:8px;
  outline: none;
}

.Form div[type="input"] {
  padding: 6px;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 10px;
  outline: none;
  border-bottom: 1px solid black;
  width: 300px;
}

.Category {
  padding-bottom: 15px;
}

.Category .name {
  border-bottom: 1px solid black;
  font-size: 28px;
  margin-bottom: 2px;
}

.Category .categoryLink {
  padding-left: 15px;
  font-size: 14px;
  color: grey;
  text-decoration: none;
}

.Post {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 8% 10px 8%;
  border-radius: 6px;
}

.Post .title{
  padding: 0px;
  margin: 0px;
}

.Post .author {
  font-size: 1.2em;
  font-weight: bolder;
}

.Post .body {
  margin: 4px;
}

.Post .voteScore {
  margin: 0 auto;
}

.PostDetails .PageTitle {
  border-bottom: 1px solid black;
}

.PostDetails .no-post-found {
  padding: 10px;
}

.Comment {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 8% 10px 8%;
  border-radius: 6px;
}

.Comment .author, .Comment .body {
  padding: 2px;
  margin: 0px;
}